@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
body{
  background: var(--body-color);
  height: 100vh;
  padding-top: 2% !important;
  padding:  3%;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .search{
    width: 40%;
    height: 10px;
  }
}
.header{
  font-size: 30px;
  font-weight: 600;
  color: #333;
  margin-bottom: 1%;
  mat-icon{
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-right: 0;
  }
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}
