body{
  background: var(--body-color);
  height: 100vh;
  padding-top: 2% !important;
  padding:  3%;
  overflow: auto;
}

header{
  font-size: 30px;
  font-weight: 600;
  color: #333;
  mat-icon{
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-right: 0;
  }
}
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.c-dashboardInfo {
  margin-bottom: 15px;
}
.c-dashboardInfo .wrap {
  background: #ffffff;
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 40px 25px 20px;
  height: 100%;
}
.c-dashboardInfo__title,
.c-dashboardInfo__subInfo {
  color: #6c6c6c;
  font-size: 1.18em;
}
.c-dashboardInfo span {
  display: block;
}
.c-dashboardInfo__count {
  font-weight: 600;
  font-size: 2.5em;
  line-height: 64px;
  color: #323c43;
}
.c-dashboardInfo .wrap:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
}

.c-dashboardInfo:nth-child(1) .wrap:after {
  background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
}
.c-dashboardInfo:nth-child(2) .wrap:after {
  background: linear-gradient(81.67deg, #0084f4 0%, #1a4da2 100%);
}
.c-dashboardInfo:nth-child(3) .wrap:after {
  background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
}
.c-dashboardInfo:nth-child(4) .wrap:after {
  background: linear-gradient(81.67deg, #ff647c 0%, #1f5dc5 100%);
}
.c-dashboardInfo__title svg {
  color: #d7d7d7;
  margin-left: 5px;
}
.MuiSvgIcon-root-19 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  flex-shrink: 0;
}

.grid-container{
  margin-top: 3%;
}

.bar-chart{
  height: 20%;
}



.bar-chart{
  padding: 1%;
  border-radius: 15px;
  .bar-graph{
    padding: 3%;
    width: 70%;
    .chart{
      height: 30%;
      width: 60%;
    }
  }
}


.bar{
  width: 60%;
  padding: 1%;
  border-radius: 15px;
}

.pie{
  padding: 1%;
  width: 30%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}
.charts{
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

mat-card-content{
  padding:1%
}

.line{
  margin-top: 3%;
  width: 100%;
  padding: 1%;
  border-radius: 15px;
}

.full-with{
  padding: 2.4%;
}

.table-container{
  margin-top: 1%;
  height: 70%;
  max-width: 100%;
  overflow: auto;
}
.table {
  overflow: hidden;
}
.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}
