.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.mat-h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;

}
.mat-card {
  margin-top: 30px;
  border-radius:5px;
  overflow:hidden;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #007E94;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-header h5 {
  font-size: 18px;
  margin: 0;
}

.mat-card-content {
  padding: 20px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}


.full-width {
  width: 100%;
}

.large-button {
  font-size: 16px;
  padding: 12px 24px;
}

button[type="submit"] {
  background-color: #007E94;
  color: #fff;
  margin-top: 20px;
  padding: 16px 80px;
  border: none;
}

button[type="submit"]:hover {
  background-color: #7A5CFA;
}

/* Success Message Styles */
.mat-alert.mat-success {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
}

.mat-icon {
  color: gray;
  border: none;
  outline: none;
}

.button{
  border: none;
  padding-right: 60%;
}
.user-profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px; /* Adjust margin as needed */
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -150px;
}

body{
  background: var(--body-color);
  height: 100vh;
}
