<body>
  <div class="container p-0">
    <h1 class="mat-h3 mb-3">Profile Settings</h1>
    <div class="row">
      <!-- Profile Settings Content -->
      <div class="col-md-12">
        <div class="mat-tab-group">
          <!-- Account Tab -->
          <mat-tab-group dynamicHeight="true" [selectedIndex]="0">
            <!-- Private Info Tab -->
            <mat-tab label="User Information">
              <div class="mat-card mt-3">
                <div class="card-header">
                  <h5 class="mat-card-title mb-0">Private Information</h5>
                </div>
                <div class="mat-card-content">
                  <!-- User Profile Section -->
<div class="user-profile-section">
  <!-- Profile Photo Container (on the left) -->
  <div class="profile-container">
    <!-- Profile Photo Container -->
    <div class="profile-photo">
      <img [src]="userPhoto || defaultProfilePhotoUrl" alt="Photo" (click)="fileInput.click()">
      <input type="file" accept="image/*" #fileInput (change)="onFileSelected($event)" style="display: none;">
      <button mat-icon-button class="button" (click)="fileInput.click()">
        <mat-icon>photo_camera</mat-icon>
      </button>
    </div>
    
    <!-- Profile Name -->
    <div class="profile-name">
      <p>{{ userFullName }}</p>
    </div>
  </div>
  
  <!-- Information update form -->
  <form (ngSubmit)="onInfoSubmit()">
    <!-- Email -->
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Email" id="inputEmail4" required>
    </mat-form-field>
    <!-- Address -->
    <mat-form-field class="full-width">
      <mat-label>Address</mat-label>
      <input matInput type="text" placeholder="Address" id="inputAddress" required>
    </mat-form-field>
    <!-- Zip -->
    <mat-form-field class="full-width">
      <mat-label>Zip</mat-label>
      <input matInput type="text" placeholder="Zip" id="inputZip" required>
    </mat-form-field>
    <button mat-raised-button class="mat-primary large-button" type="submit">Save changes</button>
  </form>
  <!-- Success message for information update -->
  <div *ngIf="infoSuccess" class="mat-alert mat-success">
    Information Submitted Successfully!!!
  </div>
</div>

              </div>
          
            <!-- Security Tab -->
            <mat-tab label="Security">
              <div class="mat-card mt-3">
                <div class="card-header">
                  <h5 class="mat-card-title mb-0">Password and Security</h5>
                </div>
                <div class="mat-card-content">
                  <!-- Password update form -->
                  <form (ngSubmit)="onPasswordSubmit()">
                    <!-- Current Password -->
                    <mat-form-field class="full-width">
                      <mat-label>Enter your Password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Current password" id="inputPasswordCurrent" required>
                      <button mat-icon-button matSuffix class="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                    <!-- New Password -->
                    <mat-form-field class="full-width">
                      <mat-label>New password</mat-label>
                      <input matInput type="password" placeholder="New password" id="inputPasswordNew" required>
                      <button mat-icon-button matSuffix class="button"(click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                    <!-- Verify Password -->
                    <mat-form-field class="full-width">
                      <mat-label>Verify password</mat-label>
                      <input matInput type="password" placeholder="Verify password" id="inputPasswordNew2" required>
                      <button mat-icon-button matSuffix class="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit" class="large-button">Update</button>
                  </form>
                  <!-- Success message for password update -->
                  <div *ngIf="passwordSuccess" class="mat-alert mat-success">
                    Password updated successfully!
                  </div>
                </div>
              </div>
            </mat-tab>
      </div>
 </mat-tab>
          </mat-tab-group>
          </div>
          </div>
    </div>
    </div>
    </body>