@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');


*{
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}
mat-toolbar{
  background: var(--sidebar-color);
  color: #fff;
  .toolbar{
    padding: 1px;
    margin: 1px
  }
}
mat-divider{
  margin-top: 16px;
  margin-bottom: 16px;
}

mat-sidenav{
  border-right: none;
  text-align: center;
  background: var(--sidebar-color);
  height: 100vh;
}
mat-sidenav-container{
  height: calc(100vh - 65px)
}

.content{
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
}
.logo{
  margin-top: 16px;
  width: 100px;
  height: 100px;
}
.sidebar{
    position: absolute;
    padding: 10px 14px;
    background: var(--sidebar-color);
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

/*========================*/
.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
   color: var(--text-color);
   transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}



.sidebar header .image-text .header-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.header-text .title{
   margin-top: -2px;
}







.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--text-color);
}
.sidebar li a.active{
    background: var(--primary-color);
}
.sidebar .menu-bar{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}


.home{
    background: var(--body-color);
    transition: var(--tran-05);
    padding:0;
    margin: 0;
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}
