
<body>
  <div class="container">
    <div class="signin-signup">
      <div class="content">
        <h3>Welcome and Login Your Account</h3>
        <p>Your account is what matter, Dont forget your password bestie! stay well</p>
        <button class="btn" routerLink="/login">LOGIN</button>
    </div>
    <img src="assets/login/Itrack4ps.png" alt="" class="image">
    </div>
    <div class="panel right-panel">
      <div class="content-form">
        <form action="" class="sign-up-form" [formGroup]="registrationForm">
          <h2 class="title">SIGN UP</h2>
        <div class="input-field">
          <i class='bx bxs-id-card'></i>
            <input type="text" placeholder="Household ID" formControlName="householdNumber" required>
        </div>
          <div class="input-field">
            <i class='bx bxs-user-detail' ></i>
            <input type="text" placeholder="First Name" formControlName="fName" required>
        </div>
          <div class="input-field">
            <i class='bx bxs-user-detail' ></i>
              <input type="text" formControlName="lName" placeholder="Last Name" required>
          </div>
          <div class="input-field">
            <i class='bx bxs-envelope' ></i>
              <input type="text" placeholder="Email" formControlName="email" required>
          </div>
          <div class="input-field">
            <i class='bx bxs-lock-alt' ></i>
              <input type="password" placeholder="Password" formControlName="password" required>
          </div>
          <button mat-fab extended class="btn" (click)="registerSubscription()" [disabled]="!registrationForm.valid" >SIGN UP</button>
          <p class="account-text">Already have an account? <a routerLink="/login">LOGIN</a></p>
      </form>
    </div>
  </div>
  </div>
</body>

