<head>
  <title>Beneficiaries Form</title>
</head>

<body>
  <div class="container">
    <header>Beneficiaries Form</header>
  
    <form (ngSubmit)="submitForm()" [formGroup]="formGroup">
      <div class="form" [ngClass]="{ 'first': currentStep === 1, 'second': currentStep === 2 }">
        <!-- First Step -->
        <div class="details personal" *ngIf="currentStep === 1">
          <span class="title">Personal Details</span>
          <div class="fields">
            <div class="input-field">
              <label>Full Name</label>
              <input type="text" placeholder="Enter your name" formControlName="personal.fullName" required>
            </div>
  
            <div class="input-field">
              <label>Date of Birth</label>
              <input type="date" placeholder="Enter birth date" formControlName="personal.dateOfBirth" required>
            </div>
  
            <div class="input-field">
              <label>Email</label>
              <input type="text" placeholder="Enter your email" formControlName="personal.email" required>
            </div>
  
            <div class="input-field">
              <label>Mobile Number</label>
              <input type="number" placeholder="Enter mobile number" formControlName="personal.mobileNumber" required>
            </div>
  
            <div class="input-field">
              <label>Gender</label>
              <select formControlName="personal.gender" required>
                <option disabled selected>Select gender</option>
                <option>Male</option>
                <option>Female</option>
                <option>Others</option>
              </select>
            </div>
  
            <div class="input-field">
              <label>Occupation</label>
              <input type="text" placeholder="Enter your occupation" formControlName="personal.occupation" required>
            </div>
          </div>
  
          <button class="nextBtn" [disabled]="!formGroup.get('personal')?.valid || !formGroup.get('personal')?.dirty" (click)="goNext()">Next</button>
        </div>
  
        <!-- Second Step -->
        <div class="details address" *ngIf="currentStep === 2">
          <span class="title">Education Background</span>
          <div class="fields">
            <div class="input-field">
              <label>Senior High School</label>
              <input type="text" placeholder="Enter your Senior High School" formControlName="educationBackground.seniorHighSchool" required>
            </div>
        
            <div class="input-field">
              <label>Track</label>
              <input type="text" placeholder="Enter your Track" formControlName="educationBackground.track" required>
            </div>
        
            <div class="input-field">
              <label>Address</label>
              <input type="text" placeholder="Enter your school address" formControlName="educationBackground.address" required>
            </div>
        
            <div class="input-field">
              <label>Year Graduated</label>
              <input type="text" placeholder="Enter your year graduated" formControlName="educationBackground.yearGraduated" required>
            </div>
            <span class="title">College</span>
            <div class="input-field">
              <label>University</label>
              <input type="text" placeholder="Enter your university" formControlName="college.university" required>
            </div>
        
            <div class="input-field">
              <label>Course</label>
              <input type="text" placeholder="Enter your course" formControlName="college.course" required>
            </div>
        
            <div class="input-field">
              <label>Department</label>
              <input type="text" placeholder="Enter your department" formControlName="college.department" required>
            </div>
        
            <div class="input-field">
              <label>School Address</label>
              <input type="text" placeholder="Enter your school address" formControlName="college.schoolAddress" required>
            </div>
        
            <div class="input-field">
              <label>School ID</label>
              <input type="text" placeholder="Enter your school ID" formControlName="college.schoolID" required>
            </div>
          </div>
  
          <div class="buttons">
            <div class="backBtn" (click)="goBack()">
              <i class="uil uil-navigator"></i>
              <span class="btnText">Back</span>
            </div>
  
            <button type="submit" class="submit" [disabled]="!formGroup.valid">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  